Repository RXDCODX/TekkenFrameData, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Python, Docker, DevOps, Database, Documentation, Config, Tests, CI/CD, Assets

.github/labeler.yml:

# .github/labeler.yml

Frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'TekkenFrameData.Frontend/**'
          - 'TekkenFrameData.Streamer/tekkenframedata.streamer.client/**'
          - '**/*.tsx'
          - '**/*.ts'
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.css'
          - '**/*.scss'
          - '**/*.html'

Backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'TekkenFrameData.Backend/**'
          - 'TekkenFrameData.Library/**'
          - 'TekkenFrameData.Service/**'
          - 'TekkenFrameData.TwitchService/**'
          - 'TekkenFrameData.DiscordService/**'
          - 'TekkenFrameData.UpdateService/**'
          - 'TekkenFrameData.Watcher/**'
          - '**/*.cs'
          - '**/*.csproj'

Python:
  - changed-files:
      - any-glob-to-any-file:
          - 'TekkenFrameData.Scraper/**'
          - '**/*.py'

Docker:
  - changed-files:
      - any-glob-to-any-file:
          - '**/Dockerfile'
          - '**/docker-compose*.yml'
          - '**/docker-compose*.yaml'
          - 'nginx.conf'

DevOps:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'
          - 'utils/**'
          - '**/*.sh'
          - '**/*.cmd'
          - '**/*.bat'

Database:
  - changed-files:
      - any-glob-to-any-file:
          - 'TekkenFrameData.Library/DB/**'
          - 'TekkenFrameData.Library/Migrations/**'
          - '**/Migrations/**'
          - '**/migrations/**'

Documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'README.md'
          - 'MIGRATION_GUIDE.md'

Config:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.json'
          - '**/*.ini'
          - '**/*.yml'
          - '**/*.yaml'
          - '**/appsettings.*'

Tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/tests/**'
          - '**/*.test.*'
          - '**/*.spec.*'

CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

Assets:
  - changed-files:
      - any-glob-to-any-file:
          - '**/assets/**'
          - '**/public/**'
          - '**/wwwroot/**'

asd
  Directory.Packages.props
  TekkenFrameData.Backend/TekkenFrameData.Library/DB/FrameDataDbContext.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250618112729_GlobalNotifFix.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250715081935_ChangedTekkenImages.Designer.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250715081935_ChangedTekkenImages.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/FrameData/Character.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/FrameData/Move.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordBotAnswers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordHelpFormatter.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordManager.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/FrameDataSlashCommands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/HelpSlashCommand.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Aliases.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Helpers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/HtmlParsers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/HtmlParsersSecondSite.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Properties.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Tekken8FrameData.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Telegram.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TekkenVictorina/CrossChannelManager.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TekkenVictorina/TekkenVictorina.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/edittekkenmove.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchFrameData.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/TekkenFrameData.Watcher.csproj
  TekkenFrameData.Backend/TekkenFrameData.Watcher/appsettings.json
Labels: Backend, Database, Config

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordManager.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/FrameDataSlashCommands.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordBotAnswers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordFramedataChannels.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordManager.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/FrameDataSlashCommands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/HelpSlashCommand.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/HtmlParsers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Properties.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Tekken8FrameData.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/UpdateHandler.cs
Labels: Backend

asdasd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/UpdateHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchFrameData.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/AlisaAssistantCollab.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchRulesCommand.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchRulesCommand.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/FrameDataSlashCommands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/Aliases.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/Commands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/discordreconnect.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchRulesCommand.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Library/DB/AppDbContext.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/DB/TwitchDbContext.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250802060520_DailiStatsInit.Designer.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250802060520_DailiStatsInit.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/DailyStreak/MatchStat.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/DailyStreak/WankWavuPlayer.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/DailyStreak/WankWavuPlayerStats.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/DailyStreak/structures/TekkenId.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Hubs/MainHub.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorHelper.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakSiteParser.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordBotAnswers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/DiscordManager.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/FrameDataSlashCommands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Framedata/HtmlParsers.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Manager/TelegramTokenNotification.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Manager/TwitchAuthService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/StreamersNotificationsService/StreamersNotificationWorker.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/Abstract/PollingServiceBase.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/Abstract/ReceiverServiceBase.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/Commands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/PollingService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/ReceiverService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/UpdateHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchFrameData.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchFramedataChannelsEvents.cs
Labels: Backend, Database

asd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/StreamersNotificationsService/MessagesHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/StreamersNotificationsService/StreamersNotificationWorker.cs
Labels: Backend

asd
  Directory.Packages.props
Labels: none

asd
  TekkenFrameData.Backend/TekkenFrameData.Library/DB/TwitchDbContext.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250804202219_AlisaBLockedUsers.Designer.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/20250804202219_AlisaBLockedUsers.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/Twitch/AlisaCollab/AlisaIgnoreTwitchUser.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaAssistantCollab.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaBlocklist.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaCall.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakSiteParser.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/alisaignoreuseradd.cs
Labels: Backend, Database

asd
  TekkenFrameData.Backend/TekkenFrameData.Library/DB/TwitchDbContext.cs
  TekkenFrameData.Backend/TekkenFrameData.Library/Models/Twitch/AlisaCollab/AlisaIgnoreTwitchUser.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/Commands.cs
Labels: Backend

фыв
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/alisaignoreuseradd.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Service/API/v1/MoveController/MoveController.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
Labels: Backend

фыв
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/leavetwitchchannel.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TwitchFramedata/TwitchFramedateChannelConnecter.cs
Labels: Backend

Create test.txt
  test.txt
Labels: none

sd
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaBlocklist.cs
Labels: Backend

asd
  TekkenFrameData.Backend/TekkenFrameData.Library/Migrations/AppDbContextModelSnapshot.cs
  utils/add_migration.cmd
Labels: Backend, DevOps, Database

Fix AlisaHello service logic by updating argument count check and variable usage
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaHello.cs
Labels: Backend

Refactor AlisaHello service to properly unregister chat command event on application stopping and correct user name argument handling
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Program.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaHello.cs
Labels: Backend

Enhance AlisaHello and Contractor services with improved message handling and command authorization
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaHello.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorHelper.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TekkenVictorina/TekkenVictorinaLeaderbord.cs
Labels: Backend

Refactor services to streamline imports and improve code readability
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/AlisaService/AlisaHello.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorHelper.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Contractor/ContractorService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakHandler.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakSiteParser.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/Discord/CharacterNameAutocompleteProvider.cs
Labels: Backend

Update DailyStreakHandler to use channelId for profile checks and player creation
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakHandler.cs
Labels: Backend

Refactor DailyStreakService for improved readability and error handling
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/DailyStreak/DailyStreakService.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/Commands.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/dailystreakcache.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/dailystreakchannels.cs
  TekkenFrameData.Backend/TekkenFrameData.Watcher/Services/TelegramBotService/CommandCalls/updatedailystreakcache.cs
Labels: Backend
